@import url('https://fonts.googleapis.com/css?family=K2D');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

a {
    text-decoration: dotted;
}
ul{
    list-style-type: none;
    

}
.navbar{
    position:absolute;
    top: 6;
    bottom: 6;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 30px;
    color:whitesmoke;
    font-size: medium;

}
.navbar h1{
    top: 4;
    bottom: 4;
    padding: 0;
    color: rgb(247, 139, 52);

}
.navlinks{
    display: flex;
    align-items: center;
}
.navlinks li{
    margin: 0 30px;
}
.active{
    color:#6464fd;
    text-decoration: underline;
    font-weight: bolder;
}


header {
    width: 100vw;
    height: 110vh;
    background-image: url('cover\ 2.jpg');
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;

}
.header-content {
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;

}
.header-content h2{
    font-size: 5vmin;
}
.line{
    width: 162px;
    height: 6px;
    margin: 15px auto;
    background-color: #6464fd;
    border-radius: 8px;
}
.header-content h1{
    font-size: 7vmin;
    margin-top: 44px;
    margin-bottom: 33px;
}

.ctn{
    padding: 11px 18px;
    background: #6464fd;
    border-radius: 30px;
    color:ghostwhite;
}
.menu-btn{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 30px;
    cursor: pointer;
    display: none;

}
section{
    width: 80%;
    margin: 80px auto;
    text-align: center;

}
title{
    text-align: center;
    font-size: 4vmin;
    color: #484872;
}
.row{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-left: 100px;
    
     
}
.row .column img{
      display: flex;
      flex-direction: column;
      align-items: center;


}
.upcomming .row{
    margin-top: 50px;
}
h4{
    font-size: 3vmin;
    color: #6464fd;
    margin: 30px auto;

}
p{
    color: salmon;
    padding: 0 40px;
    text-align: center;
}
.upcomming.ctn{
    margin-top: 20px;
}
body ,html{
    overflow-x:hidden; 
}

    
.footer{
    width: 100%;
    min-height: 100px;
    padding: 20px 80px;
    margin: 0;
    background-color: #484872;
    text-align: center;
}

.footer p{
    color: blanchedalmond;
    margin: 20px auto;
    padding: 20px auto;
}
.content-col{
    width: 45%;
}
.img-col{
    width: 60%;
}
.about .img-col{
    display: flex;  
    flex-wrap: wrap;
    width: 100%;
    
    align-items: center;
}
.img-col img{
    max-width: 300px;
    margin: 5px;
    
}
.about .row.col{
    width: 50%;
}

@media screen and(max-width:850px){
    .menu-btn{
        display: block;
    }
    .navbar{
        padding: 0;
    }
    .logo{
        position:absolute;
        top: 40px;
        left:32px;

    }
    .navlinks{
        flex-direction: column;
        width:100%;
        height:100vh;
        justify-content: center;
        background: #484872;
        margin-left: -900px;

    }
    
    


}

    
